.header-amain {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
}

.link-amain {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: large;
  &:hover {
    text-decoration: 3px underline;
  }
}
