.profile-container {
  max-width: 480px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  background-color: #E4E4D0;
  top: 63px;
  left: 40%;
}
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}
.opinion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 16px;
  margin: 20px;
}

.opinion-post {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: auto;

  &:hover {
    transform: scale(1.05);
  }
}

#post-image {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#posts-no {
  display: flex;
  width: 100%;
}
#posts-name {
  font-weight: bold;
}
#edit {
  border: none;
  padding: 5px;
  margin: 5px;
  border-radius: 8%;
  text-align: center;
  padding-bottom: 22px;
  color: white;
  background-color: #1890ff;
  height: 20px;
  &:hover {
    background-color: #328de2;
  }
}
.profile-pimg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.aligne{
  align-self: baseline;
}
.follow-contain{
  display: flex;
  flex-direction: row;
}
.prof-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}